*{
	padding: 0;
    margin: 0;
    font-family: 'Cabin';
}
body{
	background: #eee;
}
#principal{
	width: 1250px;
	height: 700px;
	margin: auto;
}
/* HEADER */
header{
	background: white;
	height: 50px;
	line-height: 50px;
	margin-bottom: 5px;
	box-shadow: 0 0 2px #ccc;
}
header h1{
	font-family: 'Lobster';
	float: left;
	color: teal;
	text-shadow: 0 0 1px darkorange;
	margin-left: 10px;
}
header nav{
	float: right;
	margin-right: 5px;
}
header nav ul li{
	display: inline-block;
	padding: 0 5px;
}
header nav ul li a{
	text-decoration: none;
	color: #333;
	transition: all 0.5s;
}
header nav ul li a:hover{
	color: teal;
}
/* MAIN */
main{
	
}
/* SECTION */
section{
	width: 950px;
	height: 500px;
	float: left;
	background: white;
	margin-right: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

section article{
	width: 940px;
	height: 200px;
	box-shadow: 0 0 2px #ccc;
	background: white;
	padding: 5px;
	margin-bottom: 5px;
	position: relative;
}

section article img{
	width: 270px;
	height: 180px;
	float: left;
	margin-right: 5px;
}

section article:hover > img{
	filter: blur(1px);
	-moz-filter: blur(1px);
	-webkit-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
}

section article p{
	color: #333;
	text-align: justify;
	margin-top: 5px;
}

section article span{
	color: #555;
}

section article .tag{
	text-decoration: none;
	color: #555;
}

section article a.active{
	text-decoration: none;
	position: absolute;
	background: teal;
	color: white;
	padding: 5px 7px;
	right: 5px;
    bottom: 5px;
    border-radius: 2px;
    border-bottom: 4px solid #005e5e;
}

section article a.active:active{
	border: none;
	box-shadow: 0 0 2px #333 inset;
	margin-top: 5px;
}

section article a:hover{
	background: #007171;
}

section article .comentarios{
	position: absolute;
	right: 110px;
	bottom: 5px;
}

section article .comentarios i{
	background: teal;
	color: white;
	border-radius: 3px;
	padding: 1px 3px;
}

/* ASIDE */
aside{
	width: 290px;
	height: 350px;
	background: white;
	box-shadow: 0 0 2px #ccc;
    float: left;
}
/* FOOTER */
footer{
	clear: both;
	height: 50px;
	line-height: 50px;
	color: #444;
	text-align: center;
	background: white;
	box-shadow: 0 0 2px #ccc;
}

#mensaje{
	position: absolute;
	width: 300px;
	height: 50px;
	background: darkorange;
	color: white;
	padding: 5px;
	margin-top: 300px;
	margin-left: 400px;
	text-align: center;
	line-height: 50px;
}

/* CAROUSEL */
/* Main carousel style */
.carousel{
	padding-bottom: 10px;
}

.carousel-inner{
  width:100%;
  max-height: 350px !important;
  margin-bottom: -10px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    margin: 0px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    /*background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));*/
}

/* Indicators list style */
.article-slide .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
    text-indent: unset;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 200px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
/*Progess Bar*/
.article-slide .carousel-indicators .active .transition-timer-carousel-progress-bar {
    height: 50px;
    background-color: #5cb85c;/*progress bar color*/
    width: 0;
    margin: 0 0 0 0;
    border: none;
    z-index: 11;
    position: relative;
}
